/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 10, 2015, 12:05:17 PM
    Author     : iptipc002
*/

.main .js-grades-loading {
    display: none;
    vertical-align: middle;
    font-size: 18px;
    margin-top: 1px;
}

#save,
.calculate-media {
    display: inline-block;
}

.js-grades-alert {
    display: none;
}

.table-title {
    text-align: center !important;
    color: white;
    padding: 5px 0 !important;
    background: #3F45EA;
}

.table td {
    border: 1px solid #465567;
}

.grades-table thead th {
    text-align: center;
	min-width: 80px;
	min-height: 80px;
}

.grades-table {
    width: 100%;
}

.grades-table td {
    border: 1px #a6b6c8 solid;
    text-align: center;
    padding: 8px;
}

.grades-table th {
    border: 1px #a6b6c8 solid;
}

.grades-table tr:hover {
    background-color: lightyellow;
}

.grades-table .odd {
    background-color: #EAEAF8;
    border: 1px solid #a6b6c8;
}

.grades-table .even {
    background-color: #F5F7F9;
    border: 1px solid #a6b6c8;
}

.grade-student-name {
    vertical-align: middle !important;
    font-size: 14px !important;
    width: 1px;
    padding-right: 8px !important;
    font-style: italic;
    text-align: left !important;
}

td.grade-td {
    text-align: center !important;
	vertical-align: middle !important;
}

.grade-td .select2-chosen {
    text-align: initial !important;
}

.grade-td .select2-container .select2-choice {
    width: 100px !important;
}

.rec-final {
    margin-bottom: 0 !important;
    width: 50px !important;
    text-align: center;
}

.grade {
    margin-bottom: 0 !important;
    width: 50px !important;
}

.modality-row th {
    font-weight: lighter;
}

.final-media {
    text-align: center !important;
    vertical-align: middle !important;
}
