/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 10, 2015, 12:05:17 PM
    Author     : iptipc002
*/

.main .js-grades-loading {
    display: none;
    vertical-align: middle;
    font-size: 18px;
    margin-top: 1px;
}

#save, .calculate-media {
    display: inline-block !important;
}

.js-grades-alert {
    display: none;
}

.table-title {
    text-align: center !important;
    color: white;
    padding: 5px 0 !important;
    background: #3F45EA;
}

.grades-table thead th {
    text-align: center;
}

.grade-student-name {
    vertical-align: middle !important;
    font-size: 14px !important;
    width: 1px;
    padding-right: 8px !important;
    font-style: italic;
}

.grade-td {
    text-align: center !important;
}

.grade-td .select2-chosen {
    text-align: initial !important;
}

.grade-td .select2-container .select2-choice {
    width: 100px !important;
}

.grade {
    margin-bottom: 0 !important;
    width: 50px !important;
}

.modality-row th {
    font-weight: lighter !important;
}

.final-media {
    text-align: center !important;
    vertical-align: middle !important;
}
