/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2015, 12:05:17 PM
    Author     : iptipc002
*/

div.classroom {
    border: none;
    overflow-x: auto;
    white-space: nowrap;
    
}

div.students {
    border: 1px solid #e5e5e5 !important;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.grades .tab-pane{
    padding-top: 0;
}

