.report-title {
    padding: 5px 5px 0;
}

.report-icon {
    font-size: 20px;
}

.container-box {
    margin-bottom: 50px;
    width: 100%;
}

.container-box p {
    margin-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color: #A9ADC4;
}

.report-box-container {
    display: inline-flex;
    align-items: center;
    width: 35%;
    height: 140px;
    padding: 20px;
    background: #FAFAFE;
    border-radius: 5px;
    border: none;
    margin: 10px;
    text-align: left;
}

@media (max-width: 1440px) {
    .report-box-container {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .report-box-container {
        width: 70%;
    }
}

@media (max-width: 880px) {
    .report-box-container {
        width: 100%;
    }
}
  

.report-box-container .title{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
}

.report-box-container .subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #5F738C;
    margin-left: 0 !important;
}