.report-title {
    padding: 5px 5px 0;
}

.report-icon {
    font-size: 20px;
}

.container-box {
    margin-bottom: 50px;
    width: 100%;
}

.container-box p {
    margin-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color: #A9ADC4;
}

.container-box a {
    width: 35%;
}

.container-box button {
    width: 100%;
}

.report-box-container {
    display: inline-flex;
    align-items: center;
    height: auto;
    padding: 20px 30px;
    background: #FAFAFE;
    border-radius: 5px;
    border: none;
    margin: 10px;
    text-align: left;
}

@media (max-width: 1255px) {
    .container-box a {
        width: 50%;
    }
}

@media (max-width: 956px) {
    .container-box a {
        width: 70%;
    }
}

@media (max-width: 569px) {
    .container-box a {
        width: 100%;
    }
}

.report-box-container .title{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
}

.report-box-container .subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #5F738C;
    margin-left: 0 !important;
}

.pull-right.circle {
    margin-left: 70px; width: 20px;
    height: 20px;
    border-radius: 15%;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 20px
}