@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
*, body, html { font-family: 'inter', sans-serif; }

/* mixin */
/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Size */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
.row { display: flex; flex-direction: column; }

@media (min-width: 640px) { .row { flex-direction: row; } }

.column { margin-left: 1em; margin-right: 1em; }

.column.off-set-1 { margin-left: "8.33333%"; }

.column.off-set-2 { margin-left: "16.66667%"; }

.column.off-set-3 { margin-left: "25%"; }

.column.off-set-4 { margin-left: "33.33333%"; }

.column.off-set-5 { margin-left: "41.66667%"; }

.column.off-set-6 { margin-left: "50%"; }

.column.off-set-7 { margin-left: "58.33333%"; }

.column.off-set-8 { margin-left: "66.66667%"; }

.column.off-set-9 { margin-left: "75%"; }

.column.off-set-10 { margin-left: "83.33333%"; }

.column.off-set-11 { margin-left: "91.66667%"; }

.column.off-set-12 { margin-left: "100%"; }

/* .grow-1{
    flex-grow: 1;
}
.grow-2{
    flex-grow: 2;
}
.grow-4{
    flex-grow: 4;
} */
[class^="col-"].clearfix { margin-left: 0; margin-right: 0; }

/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Size */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Size */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
.t-button, .t-button-primary, .t-button-secondary { padding: 0.375em 1em 0.375em 1em; font-size: 12px; border-radius: 6px; text-decoration: none; display: flex; justify-content: space-between; }

.t-button:hover, .t-button-primary:hover, .t-button-secondary:hover, .t-button--active { text-decoration: none; }

@media (min-width: 768px) { .t-button, .t-button-primary, .t-button-secondary { padding: 0.25em 1em 0.25em 1em; font-size: 14px; } }

@media (min-width: 1536px) { .t-button, .t-button-primary, .t-button-secondary { padding: 0.375em 1em 0.375em 1em; } }

.t-button-primary { background-color: #3f45ea; color: #FFFFFF; }

.t-button-primary:hover, .t-button-primary--active { color: #FFFFFF; background-color: #272B96; }

.t-button-secondary { background-color: #94a8be; color: #FFFFFF; }

.t-button-secondary:hover, .t-button-secondary--active { color: #FFFFFF; background-color: #5F738C; }

/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Size */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
.t-field-text { margin-bottom: 24px; }

.t-field-text__label { display: flex; align-items: center; }

.t-field-text__label--required { font-weight: bold; }

.t-field-text__input, .t-field-text input[type="text"] { width: 100%; }

/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Size */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
.t-field-select { width: 100%; margin-bottom: 24px; }

.t-field-select__label--required { font-weight: bold; }

.t-field-select__input.select2-container { width: 100%; }

.t-field-select__input.select2-container .select2-choice { width: 100%; }

/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Size */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
.t-field-tarea { margin-bottom: 24px; }

.t-field-tarea__label--required { font-weight: bold; }

.t-field-tarea__input, .t-field-tarea textarea { width: 100%; }

/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Size */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
.t-field-checkbox { margin-bottom: 24px; }

.t-field-checkbox__label--required { font-weight: bold; }

.t-field-checkbox__input, .t-field-checkbox input[type="checkbox"] { background: #FFFFFF; height: 20px; width: 20px; margin: 0 2px 0; }

/* mixin */
/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Size */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
.t-tabs { display: flex; list-style: none; margin: 0em 0em 0em 0em; padding: 0em 0em 0em 0em; overflow-x: scroll; overflow-y: hidden; }

@media (min-width: 768px) { .t-tabs { padding: 0.75em 1em 0.75em 1em; margin: 0em 1em 0em 0em; display: inline-block; overflow-x: hidden; } }

@media (min-width: 1536px) { .t-tabs { padding: 0.375em 1em 0.375em 1em; margin: 0em 1em 0em 0em; display: inline-block; overflow-x: hidden; } }

.t-tabs .t-tabs__contents { display: flex; list-style: none; margin: 0em 1em 0em 0em; padding: 0em 0em 0em 0em; }

@media (min-width: 768px) { .t-tabs .t-tabs__contents { padding: 0.25em 1em 0.25em 1em; margin: 0em 1em 0em 0em; } }

@media (min-width: 1536px) { .t-tabs .t-tabs__contents { margin: 0em 1em 0em 0em; padding: 0.375em 1em 0.375em 1em; display: inline-block; } }

.t-tabs .t-tabs__contents .t-tabs__itens { padding: 0em 0em 0em 0em; margin: 0em 1em 0em 0em; border-bottom: #eaeaf8 solid 0.15em; text-align: center; }

.t-tabs .t-tabs__contents .t-tabs__itens.active { border-bottom: #18204e solid 0.15em; font-weight: 700; text-decoration: none; }

@media (min-width: 768px) { .t-tabs .t-tabs__contents .t-tabs__itens { padding: 0em 0em 0em 0em; margin: 0em 1em 0em 0em; } }

@media (min-width: 1536px) { .t-tabs .t-tabs__contents .t-tabs__itens { padding: 0em 0em 0em 0em; margin: 0em 1em 0em 0em; display: inline-block; } }

.t-tabs .t-tabs__contents .t-tabs__itens a { text-decoration: none; }

.t-tabs .t-tabs__contents .t-tabs__itens .t-tabs__link { font-size: 16px; height: auto; color: #52647a; }

@media (min-width: 768px) { .t-tabs .t-tabs__contents .t-tabs__itens .t-tabs__link { padding: 0.25em 1em 0.25em 1em; } }

@media (min-width: 1536px) { .t-tabs .t-tabs__contents .t-tabs__itens .t-tabs__link { padding: 0.375em 1em 0.375em 1em; display: inline-block; } }

/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Size */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
.t-cards { border-radius: 6px; padding: 20px; background: #fafafe; margin-bottom: 16px; }

.t-cards a .t-cards-title { display: flex; align-items: center; color: #18204e; font-size: 16px; font-family: 'Inter'; font-weight: 700; }

.t-cards a .t-cards-title img { margin-right: 8px; }

.t-cards a .t-cards-text { color: #465567; margin-left: 40px; }

.t-cards a:hover { text-decoration: none; }
