/* @import '_reset.scss'; */
/* mixin */
/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Dimension */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
.row { display: flex; flex-direction: column; }

@media (min-width: 640px) { .row { flex-direction: row; } }

.column { margin-left: 1em; margin-right: 1em; }

[class^="col-"].clearfix { margin-left: 0; margin-right: 0; }

/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Dimension */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Dimension */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
.t-button { padding: 0.3em 1em 0.3em 1em; font-size: 12px; background-color: #3f45ea; color: #FFFFFF; border-radius: 4px; text-decoration: none; }

@media (min-width: 768px) { .t-button { padding: 0.2em 1em 0.2em 1em; font-size: 14px; } }

@media (min-width: 1536px) { .t-button { padding: 0.3em 1em 0.3em 1em; } }

.t-button:hover, .t-button--active { text-decoration: none; color: #FFFFFF; background-color: #272B96; }

.t-button.t-logout { background-color: #94a8be; }

.t-button.t-logout:hover { background-color: #5F738C; }

/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Dimension */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
.t-field-text__label--required { font-weight: bold; }

.t-field-text__input, .t-field-text input[type="text"] { width: 100%; }

/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Dimension */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
.t-field-select { width: 100%; }

.t-field-select__label--required { font-weight: bold; }

.t-field-select__input.select2-container { width: 100%; }

.t-field-select__input.select2-container .select2-choice { width: 100%; }

/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Dimension */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
.t-field-tarea__label--required { font-weight: bold; }

.t-field-tarea__input, .t-field-tarea textarea { width: 100%; }

/* mixin */
/* mixin */
/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Dimension */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
.t-tabs { display: flex; list-style: none; margin: 0em 0em 0em 0em; padding: 0em 0em 0em 0em; overflow-x: scroll; overflow-y: hidden; }

@media (min-width: 768px) { .t-tabs { padding: 0.75em 1em 0.75em 1em; margin: 0em 1em 0em 0em; display: inline-block; overflow-x: hidden; } }

@media (min-width: 1536px) { .t-tabs { padding: 0.375em 1em 0.375em 1em; margin: 0em 1em 0em 0em; display: inline-block; overflow-x: hidden; } }

/* line 28, ../../../../wamp64/www/br.tag/sass/scss/_tabs.scss */
.t-tabs .t-tabs__contents {
  display: flex;
  list-style: none;
  margin: 0em 1em 0em 0em;
  padding: 0em 0em 0em 0em;
}

@media (min-width: 768px) {
  /* line 28, ../../../../wamp64/www/br.tag/sass/scss/_tabs.scss */
  .t-tabs .t-tabs__contents {
    padding: 0.25em 1em 0.25em 1em;
    margin: 0em 1em 0em 0em;
  }
}

@media (min-width: 1536px) {
  /* line 28, ../../../../wamp64/www/br.tag/sass/scss/_tabs.scss */
  .t-tabs .t-tabs__contents {
    margin: 0em 1em 0em 0em;
    padding: 0.375em 1em 0.375em 1em;
    display: inline-block;
  }
}

/* line 47, ../../../../wamp64/www/br.tag/sass/scss/_tabs.scss */
.t-tabs .t-tabs__contents .t-tabs__itens {
  padding: 0em 0em 0em 0em;
  margin: 0em 1em 0em 0em;
  border-bottom: #eaeaf8 solid 0.15em;
  text-align: center;
}

/* line 53, ../../../../wamp64/www/br.tag/sass/scss/_tabs.scss */
.t-tabs .t-tabs__contents .t-tabs__itens.active {
  border-bottom: #18204e solid 0.15em;
  font-weight: 700;
  text-decoration: none;
}

@media (min-width: 768px) {
  /* line 47, ../../../../wamp64/www/br.tag/sass/scss/_tabs.scss */
  .t-tabs .t-tabs__contents .t-tabs__itens {
    padding: 0em 0em 0em 0em;
    margin: 0em 1em 0em 0em;
  }
}

@media (min-width: 1536px) {
  /* line 47, ../../../../wamp64/www/br.tag/sass/scss/_tabs.scss */
  .t-tabs .t-tabs__contents .t-tabs__itens {
    padding: 0em 0em 0em 0em;
    margin: 0em 1em 0em 0em;
    display: inline-block;
  }
}

/* line 72, ../../../../wamp64/www/br.tag/sass/scss/_tabs.scss */
.t-tabs .t-tabs__contents .t-tabs__itens a {
  text-decoration: none;
}

/* line 76, ../../../../wamp64/www/br.tag/sass/scss/_tabs.scss */
.t-tabs .t-tabs__contents .t-tabs__itens .t-tabs__link {
  font-size: 16px;
  height: auto;
  color: #52647a;
}

@media (min-width: 768px) {
  /* line 76, ../../../../wamp64/www/br.tag/sass/scss/_tabs.scss */
  .t-tabs .t-tabs__contents .t-tabs__itens .t-tabs__link {
    margin: 0em 0em 0em 0em;
    padding: 0.25em 1em 0.25em 1em;
  }
}

@media (min-width: 1536px) {
  /* line 76, ../../../../wamp64/www/br.tag/sass/scss/_tabs.scss */
  .t-tabs .t-tabs__contents .t-tabs__itens .t-tabs__link {
    margin: 0em 1em 0em 0em;
    padding: 0.375em 1em 0.375em 1em;
    display: inline-block;
  }
}

/* Color */
/* Product */
/* Ink */
/* Text */
/* Alert1 */
/* Cloud */
/* White */
/* Alert2 */
/* Alert3 */
/* Space */
/* Font size */
/* Grid */
/* Dimension */
/* Border Radius */
/* Border width */
/* Opacity */
/* Line Height */
/*Font Weight*/
/* mixin */
/* line 4, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
.t-cards {
  border-radius: 5px;
  margin: 2em 2em 2em 2em;
  padding: 2em 2em 2em 2em;
  background: #fafafe;
  position: relative;
  text-align: center;
  display: block;
  border: 1px none #e5e5e5;
}

@media (min-width: 768px) {
  /* line 4, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
  .t-cards {
    margin: 1em 5em 0em 0em;
    padding: 1em 0em 1em 0em;
  }
}

@media (min-width: 1536px) {
  /* line 4, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
  .t-cards {
    margin: 1em 5em 0em 0em;
    padding: 1em 0em 1em 0em;
  }
}

/* line 26, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
.t-cards a {
  text-decoration: none;
}

/* line 34, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
.t-cards .t-cards-link .t-cards-icon {
  margin: 2em 0em 2em -3em;
  padding: 0em 1em 0em 0em;
}

@media (min-width: 768px) {
  /* line 34, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
  .t-cards .t-cards-link .t-cards-icon {
    margin: 0em 1.75px 0em 0em;
    padding: 0em 0em 0em 0em;
  }
}

@media (min-width: 1536px) {
  /* line 34, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
  .t-cards .t-cards-link .t-cards-icon {
    margin: 0em 1.75px 0em 0em;
    padding: 0em 0em 0em 0em;
  }
}

/* line 51, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
.t-cards .t-cards-link .t-cards-title {
  margin: 0em 9em 0em 0em;
  padding: 0em 0em 0em 0em;
  font-weight: 700;
  color: #18204e;
}

@media (min-width: 768px) {
  /* line 51, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
  .t-cards .t-cards-link .t-cards-title {
    margin: 0em 13em 0em 0em;
    padding: 1em 2em 0em 0em;
  }
}

@media (min-width: 1536px) {
  /* line 51, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
  .t-cards .t-cards-link .t-cards-title {
    margin: 0em 13em 0em 0em;
    padding: 1em 2em 0em 0em;
  }
}

/* line 70, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
.t-cards .t-cards-link .t-cards-subtitle {
  margin: 0em 0em 0em 2em;
  padding: 0em 0em 0em 0em;
  font-weight: 400;
  color: #5F738C;
}

@media (min-width: 768px) {
  /* line 70, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
  .t-cards .t-cards-link .t-cards-subtitle {
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
  }
}

@media (min-width: 1536px) {
  /* line 70, ../../../../wamp64/www/br.tag/sass/scss/_cards.scss */
  .t-cards .t-cards-link .t-cards-subtitle {
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
  }
}

/*# sourceMappingURL=main.css.map */
.t-tabs .t-tabs__contents { display: flex; list-style: none; margin: 0em 1em 0em 0em; padding: 0em 0em 0em 0em; }

@media (min-width: 768px) { .t-tabs .t-tabs__contents { padding: 0.25em 1em 0.25em 1em; margin: 0em 1em 0em 0em; } }

@media (min-width: 1536px) { .t-tabs .t-tabs__contents { margin: 0em 1em 0em 0em; padding: 0.375em 1em 0.375em 1em; display: inline-block; } }

.t-tabs .t-tabs__contents .t-tabs__itens { padding: 0em 0em 0em 0em; margin: 0em 1em 0em 0em; border-bottom: #eaeaf8 solid 0.15em; text-align: center; }

.t-tabs .t-tabs__contents .t-tabs__itens.active { border-bottom: #18204e solid 0.15em; font-weight: 700; }

@media (min-width: 768px) { .t-tabs .t-tabs__contents .t-tabs__itens { padding: 0em 0em 0em 0em; margin: 0em 1em 0em 0em; } }

@media (min-width: 1536px) { .t-tabs .t-tabs__contents .t-tabs__itens { padding: 0em 0em 0em 0em; margin: 0em 1em 0em 0em; display: inline-block; } }

.t-tabs .t-tabs__contents .t-tabs__itens .t-tabs__link { font-size: 16px; height: auto; color: #52647a; }

@media (min-width: 768px) { .t-tabs .t-tabs__contents .t-tabs__itens .t-tabs__link { margin: 0em 0em 0em 0em; padding: 0.25em 1em 0.25em 1em; } }

@media (min-width: 1536px) { .t-tabs .t-tabs__contents .t-tabs__itens .t-tabs__link { margin: 0em 1em 0em 0em; padding: 0.375em 1em 0.375em 1em; display: inline-block; } }
