parameters:
    level: 3
    paths:
        - app/domain
        - app/repository
        - app/components
    excludePaths:
        - app/vendor (?)
        - app/runtime (?)
        - app/components/widgets
    bootstrapFiles:
        - phpstan-bootstrap.php
    reportUnmatchedIgnoredErrors: false

includes:
    - phpstan-baseline.neon
