
.text-right {text-align: right !important;} /*For right align*/
.text-left {text-align: left !important;} /*For left align*/
.text-center {text-align: center !important;} /*For center align*/

.modal, .modal-dialog, .modal-content, .modal-header{
    border-radius: 5px 5px 0px 0px !important;
}

.modal-title{
    padding-top: 6px!important;
}

form{
    margin: 0!important;
}

.divider {
    margin: 0 3px;
    width: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #bfc2c5;
    height: 10px;
}


.table-unavailability tr th{
    text-align: center;
}
.table-unavailability tr:hover{
    background-color: #cccccc!important;
}

.table-unavailability tr:hover:first-child{
    background-color: transparent!important;
}

.table-unavailability tr:hover .available{
    background-color: green!important;
}
.table-unavailability tr:hover .unavailable{
    background-color: red!important;
}

.table-unavailability tr td{
    width: 13%;
}

.schedule{
    width:100px;
}
.available{
    background-color: lightgreen!important;
}
.unavailable{
    background-color: lightcoral!important;
}

.table-timesheet {
    display: none;
}

.display-hide {
    display: none !important;
}