.sinc {
    padding: auto;
    margin-left: 10px;
    margin-right: 20%;
    border: 1px #575655 solid; //#496CAD
}
.syncExp {
    float: left;
    min-height:30px;
    margin-left: 10px;
}

.syncImp {
    float: right;
    min-height:30px;
    margin-left: 10px;
}
