.board-msg {
    display: none;
}

.text-right {
    text-align: right !important;
}

/*For right align*/
.text-left {
    text-align: left !important;
}

/*For left align*/
.text-center {
    text-align: center !important;
}

/*For center align*/

.calendar a, .calendar a:hover, .calendar a:visited, .accordion-toggle a {
    text-decoration: none !important;
    cursor: pointer;
    color: inherit;
}

.modal-dialog form {
    margin-bottom: 0;
}

.span1-7 {
    width: 12.63157894736842% !important;
    position: relative;
}

.calendar-header {
    background-color: rgb(149, 171, 211);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding-top: 3px;
    height: 27px;
}

.start-calendar {
    background: #598b58;
    color: white;
}

.sunday .calendar-text {
    color: #ff0000 !important;
}

.calendar-yellow {
    color: #d9d303 !important;
}

.calendar-red {
    color: #ff0000 !important;
}

.calendar-green {
    color: #26cb24 !important;
}

.calendar-blue {
    color: #0081c2 !important;
}

.calendar-purple {
    color: #9700f6 !important;
}

.calendar-black {
    color: #333333 !important;
}

.calendar-pink {
    color: pink !important;
}

.calendar-darkred {
    color: darkred !important;
}

.calendar-icon {
    position: absolute;
    left: calc(50% - 12px);
    top: -2px;
    font-size: 25px !important;
    z-index: 0;
}

.calendar-icon + .calendar-text {
    font-weight: 600 !important;
    color: white !important;
    text-shadow: 0px 0px 2px #000 !important;
}

.calendar-text {
    position: absolute;
    font-size: 12px !important;
    left: calc(50% - 8px);
}

.calendar-subtitles span {
    color: black !important;
}

.modal-title {
    font-size: 20px;
    padding-top: 5px !important;
}

form {
    margin: 0 !important;
}

.divider {
    margin: 0 3px;
    width: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #bfc2c5;
    height: 10px;
}


.accordion-toggle {
    width: calc(100% - 20px) !important;
}

.eggs .widget-head {
    background: #3F45EA !important;
}

.eggs .widget > .widget-head .heading {
    text-shadow: none !important;
    color: white !important;
    border-color: #3F45EA !important;
}

.calendar-header {
    background: #3F45EA !important;
}

.eggs .widget.widget-gray > .widget-head .heading.glyphicons i:before {
    color: white !important;
}

.eggs .widget {
    border-color: #ccc !important;
}

.calendar-event {
    width: 100%;
    margin-bottom: 5px;
    display: block;
}

.calendar-event i {
    margin-right: 5px;
    font-size: 14px;
}

.actual-date {
    margin-bottom: 5px;
    display: block;
}

.log {
    display: block;
    padding: 4px 12px;
    height: 36px;
}

.eggs .glyphicons i:before {
    padding: 5px;
    border: 1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.eggs .glyphicons.lightskyblue i:before {
    background: lightskyblue;
}

.eggs .glyphicons.lightgreen i:before {
    background: lightgreen;
}

.eggs .glyphicons.lightcoral i:before {
    background: lightcoral;
}

.eggs .glyphicons {
    padding: 7px 0 0 45px;
}

.log-date {
    float: right;
    color: gray;
}

.log-author {
    float: right;
    margin: 0 5px 0 0;
}

.log:hover {
    background-color: #ccc;
}

.logs {
    padding: 0px 0px 24px 0px !important;
    max-height: 405px;
    overflow-y: auto;
}

.load-more {
    margin: 10px 10px 10px 0;
    background: #3F45EA !important;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    float: right;
}

.events {
    max-height: 125px;
    overflow-y: auto;
}

#lineChart {
    width: 100%;
    height: 500px;
}

.lineChart-container {
    margin-top: 10px;
}

.home-container {
    margin-top: 10px;
}

#cylinderChart, #pieChart {
    width: 100%;
    height: 435px;
    font-size: 11px;
}

.amcharts-chart-div > a {
    opacity: 0.2 !important;
}

.no-show {
    display: none;
}

.checkcolor {
    font-weight: bold;
}

.alert-incomplete-data {
    margin-top: 10px;
    display: none;
}

.disciplines-container {
    display: none;
}

.alert-no-disciplines, .alert-no-students {
    display: none;
}

#SchoolIdentification_logo_file_content {
    display: none;
}

.upload-logo-button {
    margin-top: 5px;
}

.uploaded-logo-name {
    display: inline-block;
    margin: 7px 0 0 5px;
    vertical-align: middle;
}

.hidden-and-blocked-frequency {
    cursor: not-allowed !important;
}

.hidden-and-blocked-frequency .nameDisciplineFrequency, .hidden-and-blocked-frequency .nameInstructorFrequency {
    opacity: 0.2;
}

.save-school-button, .save-student, .save-instructor {
    display: none;
}

.schedule-info {
    padding: 3px !important;
}
