
.text-right {
    text-align: right !important;
}

/*For right align*/
.text-left {
    text-align: left !important;
}

/*For left align*/
.text-center {
    text-align: center !important;
}

/*For center align*/

.calendar a, .calendar a:hover, .calendar a:visited, .accordion-toggle a {
    text-decoration: none !important;
    cursor: pointer;
    color: inherit;
}

.modal-dialog form {
    margin-bottom: 0;
}

.span1-7 {
    width: 12.63157894736842% !important;
    position: relative;
}

.calendar-header {
    background-color: rgb(149, 171, 211);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding-top: 3px;
    height: 27px;
    margin-bottom: 10px;
}

.start-calendar {
    background: #598b58;
    color: white;
}

.sunday .calendar-text {
    color: #ff0000;
}

.calendar-yellow {
    color: #d9d303;
}

.calendar-red {
    color: #ff0000;
}

.calendar-green {
    color: #26cb24;
}

.calendar-blue {
    color: #0081c2;
}

.calendar-purple {
    color: #9700f6
}

.calendar-black {
    color: #333333;
}

.calendar-pink {
    color: pink;
}

.calendar-icon {
    position: absolute;
    left: calc(50% - 9px);
    top: 1px;
    font-size: 20px !important;
    z-index: 0;
}

.calendar-icon + .calendar-text {
    font-weight: 600 !important;
    color: white !important;
    text-shadow: 0px 0px 2px #000 !important;
}

.calendar-text {
    position: absolute;
    font-size: 12px !important;
    left: calc(50% - 8px);
}

.calendar-subtitles span {
    color: black;
}

.modal, .modal-dialog, .modal-content, .modal-header {
    border-radius: 5px 5px 0px 0px !important;
}

.modal-title {
    padding-top: 6px !important;
}

form {
    margin: 0 !important;
}

.divider {
    margin: 0 3px;
    width: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #bfc2c5;
    height: 10px;
}

.accordion-toggle:hover {
    background-color: lightgray !important;
    color: white !important;
}

.accordion-toggle {
    width: calc(100% - 20px) !important;
    border: 1px solid #ccc;
}

.accordion-toggle a {
    font-size: 14px;
}

.change-active {
    padding: 0 10px;
}

.remove-calendar, .show-stages, .edit-calendar-title {
    padding: 0 10px;
}

.change-active .fa-check {
    color: green;
}

.change-active .fa-history {
    color: darkgoldenrod;
}

.change-active:hover .fa-check, .change-active:hover .fa-history {
    color: #333;
}

.remove-calendar:hover .fa-remove, .show-stages:hover .fa-question-circle-o, .edit-calendar-title:hover .fa-edit {
    color: white;
}

.remove-calendar .fa-remove, .show-stages .fa-question-circle-o, .edit-calendar-title .fa-edit {
    color: darkred;
    font-size: 16px;
    margin-top: 6px;
}

.stages-container {
    margin-bottom: 10px;
}

.add-stages-options {
    width: 100% !important;
    margin-bottom: -10px;
}

.stages-container .select2-search-choice {
    font-size: 12px
}

#calendars {
    margin-top: 10px;
}

#calendars .accordion-inner {
    padding-top: 15px;
}

.calendar-subtitles-title {
    margin: 10px 0 20px 1.0526315789473683%;
}

.accordion-group {
    position: relative;
}

.floating-stages-container {
    position: fixed;
    right: 130px;
    background: #fff;
    border: 1px solid;
    z-index: 1000;
    width: 295px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stages-container-title {
    padding: 6px 0 6px 10px;
    color: white;
    margin: -10px -10px 10px;
    font-weight: bold;
    background: #496cad;
}

.stage-container {
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #ccc;
    display: inline-block;
    font-weight: bold;
    width: 100%;
}

.stage-container:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.close-stages-container {
    position: absolute;
    top: 4px;
    color: white;
    right: 10px;
    padding: 5px;
    cursor: pointer;
}

.close-stages-container:hover {
    color: black;
}

.centered-loading-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    z-index: 1;
    display: none;
}