@import '../_tokens.scss';
@import '../_functions.scss';

.t-field-number {
    margin-bottom: $SizeNormal;

    &__label {

        display: flex;
        align-items: center;

        &--required {

            &::after {
                content: "*";
                font-weight: $fontWeightRegular;
                font-size: $FontSizeTextNormal;
                color: $colorsAlertCrucialIcon;
            }
        }
    }

    &__input,
    input[type="number"] {
        width: 100%;
        margin-bottom: 0px;
        padding: $spaceSmall;
    }
}
