@import '../_tokens.scss';
@import '../_functions.scss';

.t-field-text {
    margin-bottom: $SizeNormal;
    &__label{
        
        display: flex;
        align-items: center;
        &--required {
            font-weight: bold;
            
        }
    }
    &__input, input[type="text"], input[type="number"], input[type="email"], input[type="tel"]{
        box-sizing: border-box;
        width: 100% !important;
        margin-bottom: 0px !important;
        resize: none;
    }
    &__input, input[type="password"]{
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 0px;
        resize: none;
    }
    .show-password-icon {
        
        cursor: pointer;
        position: absolute;
        right: 0;
        padding: 5px;
   }

}