@import '../_tokens.scss';
@import '../_functions.scss';

.t-field-checkbox {
    display: flex;
    white-space: normal;
    line-height: 12px;
    width: 100%;
    margin-top: $SizeLarge;
    margin-bottom: $SizeXSmall;

    &__label {
        padding-top: 0 !important;

        &--required {
            
            font-weight: bold;
        }
    }
    &__input,
    input[type="checkbox"] {
        background: $colorsBaseWhiteNormal;
        height: 20px;
        width: 20px;
        margin: 0 $SizeNormal 0 0 ;
    }

    &.helper {
        margin-top: 31px;
        margin-bottom: 10px;
        margin-left: -18px;
    }
    &--vertical {
        margin-right: $SizeNormal;
        .t-field-checkbox__label {
            text-align: center;
        }
        .t-field-checkbox__input {
            margin: 0;
        }
    }
}
.t-field-checkbox-group {
    margin-bottom: $SizeXXSmall;
    &__label {
        padding-top: 0 !important;

        &--required {
            font-weight: bold;
        }
    }

    .t-field-checkbox {
        margin-top: $SizeXXXSmall;
        margin-bottom: $SizeXSmall;
    }
}
