@import '../_tokens.scss';
@import '../_functions.scss';

.t-field-tarea {
    margin-bottom: $DimensionLarge;
    &__label{
        &--required {
            font-weight: bold;
        }
    }
    &__input, textarea {
        width: 100%;
    }
}