@import '../_tokens.scss';
@import '../_functions.scss';


.t-field-select {
    width: 100%;
    margin-bottom: $SizeNormal;
    &__label{
        
        &--required {
            
            font-weight: bold;
        }
    }
    &__input {
        &.select2-container{
            width: 100% !important;
            .select2-choice {
                width: 100%;
                box-sizing: border-box;
                word-wrap: break-word;
                text-overflow: ellipsis;
            }
        }    
    }
    &__helper{
        max-width: 50% !important;
    }
    &__helper2{
        max-width: 65% !important; 
    }

    
}