@import '../_tokens.scss';
@import '../_functions.scss';


.t-field-select {
    width: 100%;
    margin-bottom: $SizeNormal;
    &__label{
        &--required {
            font-weight: bold;
        }
    }
    &__input {
        &.select2-container{
            width: 100% !important;
            .select2-choice {
                width: 100%;
                word-wrap: break-word;
            }
        }    
    }

    
}