@import './field-select2';

.t-multiselect{
    margin-top: $SizeNormal;
    @extend .t-field-select;

    .select2-search-choice {
        background-color: $colorsAlertInfoBackground !important;
        border: none !important;
        font-size: $FontSizeTextNormal !important;
        font-weight: $fontWeightRegular !important;
        color: $colorsAlertInfoText;
        padding: $spaceXXSmall $spaceXSmall !important;
        background-image: none !important;
        word-wrap: break-word;


        div{
            margin-left: $SizeLarge;
        }
        .select2-search-choice-close{
            background-image: url('../../../themes/default/img/botao-cancelar-multiselect.svg')!important;
            width: $SizeNormal !important;
            height: $SizeNormal !important;
            background-position: unset !important;
        }
    }
    .select2-choices {
        overflow: auto !important;
        max-height: 42px;
        width: 100% !important;
    }
    .select3-choices {
        min-width: 200px;
        max-height: 57px;
        width: 100% !important;
        word-wrap: break-word;
        text-overflow: ellipsis;

        @include device(tablet){
            max-height: 60px;
        }
        @include device(mobile){
            max-height: 60px;
        }
    }

}
