@import '../_tokens.scss';
@import '../_functions.scss';

.t-field-tarea {
    margin-bottom: $SizeLarge;

    &__label {

        &--required {

            &::after {
                content: "*";
                font-weight: $fontWeightRegular;
                font-size: $FontSizeTextNormal;
                color: $colorsAlertCrucialIcon;
            }
        }
    }

    &__input,
    textarea {
        width: 100%;
        padding: $SizeXXXSmall;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;

        &.large {
            height: 100%;
            min-height: 100px;
            max-height: 100px;
        }
    }
}
