@import '../_tokens.scss';
@import '../_functions.scss';

.t-field-text {
    margin-bottom: $SizeNormal;
    &__label{
        font-size: $FontSizeFormLabel;
        display: flex;
        align-items: center;
        &--required {
            font-weight: bold;
            font-size: $FontSizeFormLabel;
        }
    }
    &__input, input[type="text"], input[type="number"], input[type="email"]{
        box-sizing: border-box;
        width: 100% !important;
        margin-bottom: 0px;
        resize: none;
    }
    &__input, input[type="password"]{
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 0px;
        resize: none;
    }
    .show-password-icon {
        font-size: $FontSizeFormLabel;
        cursor: pointer;
        position: absolute;
        right: 0;
        padding: 5px;
   }

}