@import '../_tokens.scss';
@import '../_functions.scss';

.t-field-section {
    margin-top: $SizeLarge;
}
.t-field-selection {
    width: 100%;
}
.t-field-section-2{
    height: $lineHeightHeadingDisplay;
    background-color: $colorsBaseWhiteNormal;
    width: 100%;
    padding: 8px 15px 0px 0px;
    margin: 0px 0px $SizeMedium;
    border: $borderWidthInput solid $colorsBaseInkLighter;
    border-radius: $borderRadiusLarge;
    box-sizing: border-box;
}