.btn-primary,
.navbar.main,
#flotTip,
.btn-group.open .btn-primary.dropdown-toggle,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary:hover,
.label-primary,
.table-primary thead th,
.pagination ul > .active > a,
.pagination ul > .active > span,
.gallery ul li .thumb,
.widget-activity ul.filters li.glyphicons.active i,
.ui-slider-wrap .slider-primary .ui-slider-range,
.accordion-heading .accordion-toggle,
.ui-widget-header,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.fc-event-skin,
#external-events li,
.notyfy_wrapper.notyfy_primary,
.progress.progress-primary .bar,
.alert.alert-primary,
.pagination ul > li > a:hover,
.pagination ul > li.primary > a,
.gritter-item-wrapper.gritter-primary .gritter-item,
#content-notification .notyfy_wrapper.notyfy_primary,
.ribbon-wrapper .ribbon.primary,
.label.label-primary,
.widget-stats.primary,
.widget-stats.primary:hover,
.tabsbar:not(.tabsbar-2) ul li.active a,
.widget.widget-wizard-pills .widget-head ul li.primary a,
.bwizard-steps li.active,
.sliderContainer .ui-rangeSlider-bar,
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active,
#tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_close,
#tlyPageGuideWrapper #tlyPageGuideMessages span,
.tabsbar.tabsbar-2.active-fill ul li.active a,
.shop-client-products.list ul li a .glyphicons i {
  background-color: #86618f;
}
a,
p a,
.widget .widget-body.list ul li .count,
.widget-stats .txt strong,
.glyphicons.single i:before,
.glyphicons.single,
.table-primary tbody td.important,
.widget.widget-3 .widget-body.large.cancellations span span:first-child,
.widget .widget-footer a:hover,
.widget .widget-footer a:hover i:before,
.widget.widget-3 .widget-footer a:hover,
.widget.widget-3 .widget-footer a:hover i:before,
blockquote small,
#menu .profile span a,
#footer .copy a,
.tabsbar.tabsbar-2 ul li.active a,
.tabsbar.tabsbar-2 ul li.active a i:before,
.glyphicons.primary i:before,
.glyphicons.standard:not(.disabled):hover i:before,
.menubar.links.primary ul li a,
.text-primary,
#docs_icons .glyphicons i:before,
.widget.widget-tabs-double-2 .widget-head ul li.active a i:before,
.widget.widget-tabs-double-2 .widget-head ul li.active a,
.shop-client-products.product-details .form-horizontal .price {
  color: #86618f;
}
.btn-primary,
.ui-slider-wrap .slider-primary .ui-slider-handle,
#flotTip,
.widget.widget-2.primary .widget-head,
.widget .widget-body.list.list-2 ul li.active a i:before,
.table-primary thead th,
.pagination ul > .active > a,
.pagination ul > .active > span,
.widget.widget-4 .widget-head .heading,
.ui-widget-header,
.fc-event-skin,
.alert.alert-primary,
.pagination ul > li > a:hover,
.pagination ul > li.primary > a,
.widget-stats.primary {
  border-color: #86618f;
}
.table-primary tbody td {
  background-color: #f8f6f9;
}
.table-primary tbody tr.selected td,
.table-primary tbody tr.selectable:hover td {
  background-color: #e2d8e4;
}
.table-primary.table-bordered tbody td,
.table-primary,
.pagination ul > .disabled > a,
.pagination ul > .disabled > span {
  border-color: #f8f6f9;
}
.navbar.main .btn-navbar,
.navbar.main .topnav > li > a {
  background-color: #9e7da6;
  box-shadow: 0 1px 0 #6a4c71;
  -webkit-box-shadow: 0 1px 0 #6a4c71;
  -moz-box-shadow: 0 1px 0 #6a4c71;
}
.navbar.main .btn-navbar:hover,
.navbar.main .topnav > li > a:hover {
  background-color: #b59bbb;
}
.bwizard-steps li.active:after,
.sliderContainer .ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner {
  border-left-color: #86618f;
}
.sliderContainer .ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner {
  border-right-color: #86618f;
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_right:after,
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_left:after,
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_top:after {
  border-top-color: #86618f;
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_bottom:after {
  border-bottom-color: #86618f;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #4d3852;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #785780;
}
.tlypageguide_shadow:after {
  background-color: rgba(134, 97, 143, 0.2);
}
.widget .widget-body.list.list-2 ul li.active {
  border-color: #b59bbb;
}
.widget .widget-body.list.list-2 ul li a {
  color: #b59bbb;
}
.widget .widget-body.list.list-2 ul li a i:before {
  background: #f8f6f9;
  color: #9e7da6;
  border-color: #b59bbb;
}
