.t-accordion  {
    border: none;
    &__header {
        .t-accordion__head {
            border: none;
        }
    }
    &__container-icon:hover {
        background-color: $colorsBaseProductLighter !important;
    }
    &__icon {
        transition: all 200ms;
        &.closed{
            transform: rotate(90deg);
            transition: all 200ms;
        }
        
    }
    &__body > .odd {
        background-color: $colorsBaseProductLighter;   
    }
    &__body > .odd > *, &__body > .even > *  {
        font-size: $FontSizeHeadingTitle4;
        background-color: $colorsBaseProductLighter;
        box-shadow: none !important;
        padding: $SizeNormal $SizeLarge;
    } 
    &__body > .odd:hover > *, &__body > .even:hover > * {
        box-shadow: none !important;
    }
}

