.t-alert {
    width: fit-content;
    margin-bottom: $SizeXSmall;
    border-color: $colorsBaseCloudLight;
    background: $colorsBaseCloudLight;
    color: $colorsBaseInkNormal;
    font-size: $FontSizeTextNormal;
    padding: $SizeXSmall $SizeXLarge $SizeXSmall $SizeNormal;
    border-radius: $borderRadiusLarge;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    font-family: $FontFamilyTextNormal;
    border: solid $borderWidthCard;
    &--sucess{
        .t-alert__icon {
            color: $colorsAlertSuccessIcon;
            padding-right: $SizeXXXSmall;
        }
        background: $colorsAlertSuccessBackground;
        border-color: $colorsAlertSuccessBorder;
    }
    &--info{
        .t-alert__icon{
            color: $colorsAlertInfoIcon;
            padding-right: $SizeXXXSmall;
        }
        background: $colorsAlertInfoBackground;
        border-color: $colorsAlertInfoBorder;
    }
    &--warning{
        .t-alert__icon{
            color: $colorsAlertWarningIcon;
            padding-right: $SizeXXXSmall;
        }
        background: $colorsAlertWarningBackground;
        border-color: $colorsAlertWarningBorder;
    }
    &--critical{
        .t-alert__icon{
            color: $colorsAlertCrucialIcon;
            padding-right: $SizeXXXSmall;
        }
        background: $colorsAlertCrucialBackground;
        border-color: $colorsAlertCrucialBorder;
    }
    .t-alert-informacao{
        padding: $SizeXSmall $SizeXLarge $SizeXSmall $SizeNormal;
        display: flex;
        flex-direction: row;
    }
}





