.t-badge {
    display: flex;
    gap: $SizeXXXXSmall;
    align-items: center;
    border: 0.1rem solid #94A8BE;
    border-radius: $borderRadiusBadge;
    padding: 0 4px 0 4px;
    background-color: $colorsBaseCloudNormal;
    
    &__icon {
        color: $colorsBaseInkLightHover;
        font-size: $SizeSmall;
    }
    &__label {
        color: $colorsBaseInkLightHover;
        font-weight: $fontWeightRegular;
    }

    &:link,
    &:focus,
    &:hover,
    &--active,
    &:active {
        text-decoration: none !important;
    }
}

.t-badge-info {
    @extend .t-badge;

    &__icon {
        color: $colorsAlertInfoText;
        font-size: $SizeNormal;
        margin: 0 $SizeXXSmall;
    }
    width: fit-content;
    font-weight: $fontWeightRegular;
    background-color: $colorsAlertInfoBackground;
    color: $colorsAlertInfoText;
    border: none;
    padding: 0 $SizeXXSmall;
}
.t-badge-critical {
    @extend .t-badge;

    background-color: $colorsAlertInfoBackground;
    color: $colorsAlertInfoText;
}

.t-badge-success {
    @extend .t-badge;

    background-color: $colorsAlertSuccessBackground;
    color: $colorsAlertSuccessText;
}
.t-badge-warning {
    @extend .t-badge;

    background-color: $colorsAlertWarningBackground;
    color: $colorsAlertWarningText;
}