.t-badge {
    display: flex;
    gap: $SizeXXXXSmall;
    align-items: center;
    border: 0.1rem solid #94A8BE;
    border-radius: $borderRadiusBadge;
    padding: 0 4px 0 4px;
    background-color: $colorsBaseCloudNormal;
    
    &__icon {
        color: $colorsBaseInkLightHover;
        font-size: $SizeXSmall;
    }
    &__label {
        color: $colorsBaseInkLightHover;
        font-weight: $fontWeightRegular;
    }

    &-critical {
        // background-color: $colorsAlertInfoBackground;
        // color: $colorsAlertInfoText;
    }
    &-info {
        background-color: $colorsAlertInfoBackground;
        color: $colorsAlertInfoText;
    }
    &-success {
        background-color: $colorsAlertSuccessBackground;
        color: $colorsAlertSuccessText;
    }
    &-warning {
        background-color: $colorsAlertWarningBackground;
        color: $colorsAlertWarningText;
    }

    &:link,
    &:focus,
    &:hover,
    &--active,
    &:active {
        text-decoration: none !important;
    }
}