.t-badge {
    display: flex;
    gap: $SizeXXXXSmall;
    align-items: center;
    border-radius: $borderRadiusLarge;
    padding: 0 4px 0 4px;
    margin: $SizeXSmall 0;
    background-color: $colorsBaseCloudNormal;
    &__icon {
        color: $colorsBaseInkLightHover;
        font-size: $SizeSmall;
        margin-right: $SizeXXSmall;
    }
    &__label {
        color: $colorsBaseInkLightHover;
        font-weight: $fontWeightRegular;
    }
    &:link,
    &:focus,
    &:hover,
    &--active,
    &:active {
        text-decoration: none !important;
    }
}

.t-badge-info {
    @extend .t-badge;
    &__icon {
        color: $colorsAlertInfoText;
        font-size: $SizeNormal;
    }
    width: fit-content;
    border: 0.1rem solid #94A8BE;
    font-weight: $fontWeightRegular;
    background-color: $colorsAlertInfoBackground;
    color: $colorsAlertInfoText;
    border: none;
    padding: 0 $SizeXXSmall;
}

.t-badge-critical {
    @extend .t-badge;
    border: 0.1rem solid $colorsTextError;
    background-color: $colorsTextError;
    color: $colorsBaseWhiteNormal;
}
.t-badge-success {
    @extend .t-badge;
    background-color: $colorsAlertSuccessBackground;
    color: $colorsAlertSuccessText;
}

.t-badge-warning {
    @extend .t-badge;
    background-color: $colorsAlertWarningBackground;
    color: $colorsAlertWarningText;
}