@import '_tokens.scss';
@import '_functions.scss';


.t-button {
    padding: $spaceXXSmall;
    font-size: $FontSizeTextSmall;
    background-color: $colorsBaseProductNormal;
    color:$colorsBaseWhiteNormal;
    border-radius: 4px;
    text-decoration: none;
    &.hide-responsive {
        display: none;
        @include device(mobile) {
            display: block;
        }
    }

    @include device(mobile) {
        padding: $spaceXXSmall;
        font-size: $FontSizeTextSmall;
      
    }
    @include device(tablet) {
        padding: $spaceNormal $spaceMedium;
        font-size: $FontSizeHeadingTitle3;
    }
    @include device(desktop) {
        padding: $spaceNormal $spaceXXXLarge;
    }

}

.t-button:hover {
    text-decoration: none;
    color:$colorsBaseWhiteNormal;
    background-color: $colorsBaseProductNormalActive;
}

