@import '_tokens.scss';
@import '_functions.scss';

.t-buttons-container {
    display: inline-block;
    width: 100%;

    &.auto-width {
        width: auto;
    }

    @include device(tablet) {
        padding: $spaceXXXSmall 0 $spaceXXXSmall 0;
        font-size: $FontSizeTextNormal;
        display: flex;
    }
}

.t-button {
    display: flex;
    flex: 1;
    padding: $spaceNormal;
    margin: $spaceXSmall 0;
    font-size: $FontSizeTextSmall;
    border-radius: $borderRadiusLarge;
    text-decoration: none;
    align-self: center;
    justify-content: center;
    cursor: pointer;

    span {
        margin: $spaceEmpty $spaceXXXSmall $spaceEmpty $spaceEmpty;
        font-size: $FontSizeHeadingTitle4;
    }

    &.mobile-width {
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &.mobile-margin {
        margin-right: $spaceMedium;
    }

    &.mobile-margin-top {
        margin-top: $spaceMedium !important;
    }
    &.nofloat{
        float: unset !important;
    }

    &:hover,
    &--active {
        text-decoration: none;
    }

    @include device (mobile) {
        flex: 0 auto;
        margin-right: $spaceMedium;
        padding: $spaceXXXSmall $spaceMedium $spaceXXXSmall $spaceMedium;
        font-size: $FontSizeTextNormal;
    }

    @include device(tablet) {
        flex: 0 auto;
        margin-right: $spaceMedium;
        padding: $spaceXXXSmall $spaceMedium $spaceXXXSmall $spaceMedium;
        font-size: $FontSizeTextNormal;
    }

    @include device(desktop) {
        margin-right: $spaceMedium;
        padding: $spaceXXSmall $spaceMedium $spaceXXSmall $spaceMedium;
    }

    &:link,
    &:focus,
    &:hover,
    &--active,
    &:active {
        text-decoration: none !important;
    }

    img {
        margin-right: $SizeXXSmall;
    }

    i {
        align-self: center;
        margin-right: $SizeXXSmall;
        opacity: 0.5;
    }
}

.t-button-primary {
    @extend .t-button;
    background-color: $colorsBaseProductNormal;
    color: $colorsBaseWhiteNormal;
    cursor: pointer;
    align-self: center;

    &--icon {
        flex: 0;
        padding: $spaceSmall $spaceXLarge;
    }


    &:hover,
    &--active {
       /*  color: $colorsBaseWhiteNormal;
        background-color: $colorsBaseProductNormalActive; */
    }
    &.disabled {
        background-color: $colorsBaseCloudNormal;
        color: $colorsBaseInkLighterActive;
        &:hover,
        &:active,
        &:focus{
            background-color: $colorsBaseCloudNormal;
            color: $colorsBaseInkLighterActive;
        }
    }

    &:link,
    &:focus,
    &:hover,
    &--active,
    &:active {
        color: $colorsBaseWhiteNormal;
    }
}

.t-button-secondary {
    @extend .t-button;
    background-color: $colorsBaseCloudNormal;
    color: $colorsBaseInkNormal;
    border: 0;

    &:hover,
    &--active,
    &:focus {
        color: $colorsBaseInkNormal;
        background-color: $colorsBaseCloudLightHover;
    }
}

.t-button-tertiary {
    @extend .t-button;
    background-color: $colorsBaseInkLighterActive;
    color: $colorsBaseWhiteNormal;

    &:focus {
        color: $colorsBaseWhiteNormal;
    }

    &:hover,
    &--active {
        color: $colorsBaseWhiteNormal;
        background-color: $colorsBaseInkLight;
    }
}

.t-button-quaternary {
    @extend .t-button;
    background-color: $colorsBaseCloudLightActive;
    color: $colorsBaseInkNormal;
    border: 0;
    cursor: auto;
}

.t-button-submit {
    @extend .t-button-primary;
    margin: $SizeNormal 0;
}

.t-button-danger {
    @extend .t-button;
    color: $colorsBaseWhiteNormal;
    background-color: $colorsTextError;
    border: 0;

    &--disabled {
        background-color: $colorsBaseCloudNormal;
        color: $colorsBaseInkLighterActive;
        cursor: not-allowed !important;
    }

    &:hover {
        color: $colorsBaseWhiteNormal;
    }

    &--disabled:hover {
        color: $colorsBaseInkLighterActive;
    }
}

.t-button-success {
    @extend .t-button;
    background-color: $colorsAlertSuccessBackground;
    border: 0;

    &:hover,
    &--active {
        background-color: $colorsAlertSuccessBorder;
    }
}

.t-button-icon {
    @extend .t-button;

    &.secondary {
        padding: $spaceXXSmall $spaceLarge $spaceXXSmall $spaceLarge;
        background-color: $colorsBaseProductNormal;
        color: $colorsBaseWhiteNormal;
        cursor: pointer;
        align-self: center;
        font-size: $FontSizeIcons2 !important;


        &:hover,
        &--active {
            color: $colorsBaseWhiteNormal;
            background-color: $colorsBaseProductNormalActive;
        }

        &:link,
        &:focus,
        &:hover,
        &--active,
        &:active {
            color: $colorsBaseWhiteNormal;
        }
        span{
            font-size: $FontSizeIcons2 !important;
        }
    }
    &-danger {
        cursor: pointer;
        color: $colorsTextError !important;
        margin-top: $SizeNormal;
    }
}
.t-link-button {
    color: $colorsBaseInkNormal !important;
    &--warning {
        color: $colorsTextError !important;
        margin-top: $SizeLarge;
    }
    &--info {
        color: $colorsBaseProductNormalActive !important;
    }
}

.t-button-content {
    background-color: transparent;
    border: none;
}
