@import '_tokens.scss';
@import '_functions.scss';

.t-cards {
    border-radius: 5px;
    padding: $spaceMedium;
    background: $colorsBaseProductLighter;
    margin-bottom: 5px;


    a {
        text-decoration: none;
    }


    .t-cards-link {


        .t-cards-icon {
          
        }

        .t-cards-title {
           
        }

        .t-cards-subtitle {
            
        }

    }



}