@import '_tokens.scss';
@import '_functions.scss';

.t-cards {
    display: inline-block;
    border-radius: $borderRadiusLarge;
    padding: $SizeLarge;
    background: $colorsBaseProductLighter;
    margin-bottom: $SizeMedium;
    margin-right: $SizeMedium;
    width: 100%;
    min-width: 300px;
    box-sizing: border-box;
    max-width: 50%;

    .t-cards-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .t-cards-title {
            display: flex;
            align-items: center;
            color: $colorsBaseProductDarkActive;
            font-size: $FontSizeHeadingTitle2;
            font-family: 'Inter', sans-serif;
            font-weight: 700;
         
    
            img {
                margin-right: $SizeXSmall;
            }
        }
        
        .t-cards-text {
            color: $colorsBaseInkLightActive;
            margin-left: $SizeXLarge;
            font-size: $FontSizeTextSmall;
            &.clear-margin {
                &--left {
                    margin-left: 0;
                }
            }
        }
      
    
        span{
            margin: $spaceEmpty $spaceXXXSmall $spaceEmpty $spaceEmpty;
            font-size: $FontSizeHeadingTitle1;
        }

        .t-cards-link{
            display: flex;
            gap: 13px;
        }
    }
      &:hover {
            text-decoration: none;
        }

}
