@import '_tokens.scss';
@import '_functions.scss';

.t-cards {
    border-radius: $borderRadiusLarge;
    padding: $SizeLarge;
    background: $colorsBaseProductLighter;
    margin-bottom: $SizeMedium;
    margin-right: $SizeMedium;
    width: 100%;

    span{
        margin: $spaceEmpty $spaceXXXSmall $spaceEmpty $spaceEmpty;
        font-size: $FontSizeHeadingTitle1;
    }
    a {
        .t-cards-title {
            display: flex;
            align-items: center;
            color: $colorsBaseProductDarkActive;
            font-size: $FontSizeHeadingTitle2;
            font-family: 'Inter', sans-serif;
            font-weight: 700;

            img {
                margin-right: $SizeXSmall;
            }
        }
        .t-cards-text {
            color: $colorsBaseInkLightActive;
            margin-left: $SizeXLarge;
        }
        &:hover {
            text-decoration: none;
        }
        
    }
}
