.t-drawer {
    width: 200px;
    float: left;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    top: 0px;
    background: $colorsBaseProductLighter;
    z-index: 99;

    &-header {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: $spaceNormal;
        margin-top: 23px;
        margin-bottom: 65px;
    }

    &-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: $SizeLarge;
        height: $SizeLarge;
        padding: $SizeSmall;
        padding-left: $spaceEmpty;
        border-right: solid $borderWidthCard $colorsBaseProductLight;
        margin-right: $SizeMedium;

        @include device(tablet) {
            display: none;
        }

        div {
            border-radius: $borderRadiusBadge;
            width: 100%;
            height: $SizeXXXSmall;
            background-color: $colorsBaseProductNormalActive;
        }
    }

    &--mobile-hidden {
        left: -200px;
        transition: left 500ms;
    }

    @include device(tablet) {
        &--mobile-hidden {
            left: 0;
            // transition: left 500ms;
        }
    }

}

.sidebar-cover {
    display: block;
    background-color: #00000062;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}