.t-filter-bar {
    display: flex;
    flex-direction: column;
    column-gap: $SizeSmall;
    @include device(tablet) {
        flex-direction: row;
     }
    .t-filters {
        display: inline-block;
        margin-bottom: $SizeSmall;
        @include device(tablet) {
           margin-bottom: 0;
           display: flex;
        }
    }
}