.t-icon-trash {
    content: 'a';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'b';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'c';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'd';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'e';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'f';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'g';
    font-family: 'icone-tag';
}

.t-icon- {
    content: 'h';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'i';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'j';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'k';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'l';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'm';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'n';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'o';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'p';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'q';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'r';
    font-family: 'icone-tag';
}

.t-icon- {
    content: 's';
    font-family: 'icone-tag';
}

.t-icon- {
    content: 't';
    font-family: 'icone-tag';
}

.t-icon- {
    content: 'u';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'v';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'w';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'x';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'y';
    font-family: 'icone-tag';
}
.t-icon- {
    content: 'z';
    font-family: 'icone-tag';
}