@import '_functions.scss';
@import '_tokens.scss';



.row {
    display: flex;
    flex-direction: column;

    &.reverse {
        flex-direction: column-reverse;
        
        @include device(mobile) {
            flex-direction: row;
        }
    }

    @include device(mobile) {
        flex-direction: row;
    }
}

.mobile-row {
    display: flex;
    flex-direction: row;
}

.tablet-row {
    display: flex;
    flex-direction: column;

    @include device (tablet) {
        flex-direction: row;
    }
}

.column {
    flex: 1;
    flex-basis: 0;
    margin-left: calc($spaceXLarge / 2);
    margin-right: calc($spaceXLarge / 2);

    &.flex {
        display: flex;
    }
    
    &.clearfix {
        margin-left: 0;
        margin-right: 0;
    }

    &.clearleft {
        margin-left: 0; 
        
        &.on-tablet {
            margin-left: 0;

            @include device(tablet) {
                margin-left: calc($spaceXLarge / 2);
            }
        }
    }

    &.no-grow {
        flex-grow: 0;
    }

    &.is-half {
        @include device(mobile) {
            max-width: 50%;
        }
    }

    &.is-four-fifths {
        @include device(mobile) {
            max-width: 80%;
        }
    }

    &.is-three-quarters {
        @include device(mobile) {
            max-width: 75%;
        }
    }

    &.is-two-thirds {
        @include device(mobile) {
            max-width: 66.6666%;
        }
    }

    &.is-three-fifths {
        @include device(mobile) {
            max-width: 60%;
        }
    }

    &.is-two-fifths {
        @include device(mobile) {
            max-width: 40%;
        }
    }

    &.is-one-third {
        @include device(mobile) {
            max-width: 33.3333%;
        }
    }

    &.is-one-quarter {
        @include device(mobile) {
            max-width: 25%;
        }
    }

    &.is-one-fifth {
        @include device(mobile) {
            max-width: 20%;
        }
    }

    //retirar isso
    &.helper {
        max-width: 50%;
    }

    &.is-half {
        @include device(mobile) {
            max-width: 50%;
        }
    }

    &.is-four-fifths {
        @include device(mobile) {
            max-width: 80%;
        }
    }

    &.is-three-quarters {
        @include device(mobile) {
            max-width: 75%;
        }
    }

    &.is-two-thirds {
        @include device(mobile) {
            max-width: 66.6666%;
        }
    }

    &.is-three-fifths {
        @include device(mobile) {
            max-width: 60%;
        }
    }
    &.is-two-fifths {
        @include device(mobile) {
            max-width: 40%;
        }
    }
    &.is-one-third {
        @include device(mobile) {
            max-width: 33.3333%;
        }
    }
    &.is-one-quarter {
        @include device(mobile) {
            max-width: 25%;
        }
    }

    &.is-one-fifth {
        @include device(mobile) {
            max-width: 20%;
        }
    }
}

