@import '_functions.scss';
@import '_tokens.scss';


.row {
    display: flex;
    flex-direction: column;

    @include device(mobile) {
        flex-direction: row;
    }
}

.column {
    margin-left: $spaceXLarge/2;
    margin-right: $spaceXLarge/2;
   

    @for $i from 1 through 12 {
        &.off-set-#{$i} {
            margin-left: $i / 12 * 100 +"%";
        }
    }


}



/* .grow-1{
    flex-grow: 1;
}
.grow-2{
    flex-grow: 2;
}
.grow-4{
    flex-grow: 4;
} */

[class^="col-"].clearfix {
    margin-left: 0;
    margin-right: 0;
}