.align-items {
    &--center {
        display: flex;
        align-items: center;
    }
    &--center-on-desktop {
        @include device (tablet) {
            display: flex;
            align-items: center;
        }
    }

    &--baseline {
        display: flex;
        align-items: baseline;
    }

    &--stretch {
        display: flex;
        align-items: stretch;
    }

    &--end {
        display: flex;
        align-items: end;
    }
}

.justify-content {
    &--center {
        display: flex;
        justify-content: center;
    }

    &--start {
        display: flex;
        justify-content: start;
    }

    &--space-between {
        display: flex;
        justify-content: space-between;
    }

    &--end {
        display: flex;
        justify-content: end;
    }
}

.text-align {
    &--center {
        text-align: center;
      }
      
      &--left {
        text-align: left;
      }
      
      &--right {
        text-align: right;
      }
      
      &--justify {
        text-align: justify;
      }
}


.clear-margin {
    &--left {
        margin-left: 0;
    }

    &--right {
        margin-right: 0;
    }
    &--top {
        margin-top: 0;
    }
    &--bottom {
        margin-bottom: 0;
    }
    &--all {
        margin: 0;
    }
}

.wrap {
    flex-wrap: wrap;
}
.hide {
    display:none;
}
.show {
    display:block;

    &.show-tablet {
        display: flex;

        @include device(tablet) {
            display: none;
        }
    }
    &.show-desktop {
        display: none;

        @include device(tablet) {
            display: flex;
        }
    }
}