.align-items {
    &--center {
        display: flex;
        align-items: center;
    }
    &--center-on-desktop {
        @include device (tablet) {
            display: flex;
            align-items: center;
        }
    }

    &--baseline {
        display: flex;
        align-items: baseline;
    }

    &--stretch {
        display: flex;
        align-items: stretch;
    }

    &--end {
        display: flex;
        align-items: end;
    }
}

.justify-content {
    &--center {
        display: flex;
        justify-content: center;
    }

    &--start {
        display: flex;
        justify-content: start;
    }

    &--space-between {
        display: flex;
        justify-content: space-between;
    }

    &--end {
        display: flex;
        justify-content: end;
    }
}

.clear-margin {
    &--left {
        margin-left: 0;
    }

    &--right {
        margin-right: 0;
    }
}


.hide {
    display:none;
}
.show {
    display:block;

    &.show-tablet {
        display: flex;

        @include device(tablet) {
            display: none;
        }
    }
    &.show-desktop {
        display: none;

        @include device(tablet) {
            display: flex;
        }
    }
}