.t-icon-trash::before {
    content: 'A';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-less_stock::before {
    content: 'a';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-bar_graph::before {
    content: 'B';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-more_stock::before {
    content: 'b';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-people::before {
    content: 'C';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-person_add::before {
    content: 'c';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-bus::before {
    content: 'D';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-person_remove::before {
    content: 'd';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-apple::before {
    content: 'E';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-down_arrow::before {
    content: 'e';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-pencil::before {
    content: 'F';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-hamburger_button::before {
    content: 'f';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-column_graphi::before {
    content: 'G';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-close::before {
    content: 'g';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-calendar::before {
    content: 'H';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-search_icon::before {
    content: 'h';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-settings::before {
    content: 'I';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-filter::before {
    content: 'i';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-educacenso::before {
    content: 'J';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-right_arrow::before {
    content: 'j';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-help::before {
    content: 'K';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-left_arrow::before {
    content: 'k';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-home::before {
    content: 'L';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-down_arrow::before {
    content: 'l';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-book::before {
    content: 'M';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-up_arrow::before {
    content: 'm';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-exit::before {
    content: 'N';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-slider::before {
    content: 'n';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-blackboard::before {
    content: 'O';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-bin::before {
    content: 'o';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-finger_print::before {
    content: 'P';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-success::before {
    content: 'p';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-school::before {
    content: 'Q';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-info::before {
    content: 'q';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-line_graph::before {
    content: 'R';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-eye::before {
    content: 'r';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-schedule::before {
    content: 'S';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-eye_hash::before {
    content: 's';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-diary::before {
    content: 'T';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-lock::before {
    content: 't';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-topics::before {
    content: 'U';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-duplicate::before {
    content: 'u';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-checklist::before {
    content: 'V';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-photos::before {
    content: 'v';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-edition::before {
    content: 'W';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-camera::before {
    content: 'w';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-configuration-adm::before{
    content: 'X';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-export::before{
    content: 'x';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-sagres::before {
    content: 'Y';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-printer::before {
    content: 'y';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-restaurant::before {
    content: 'Z';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-play::before {
    content: 'z';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-to-go-back::before {
    content:'0';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-attendance-note::before {
    content:'1';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-group-people::before {
    content:'2';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-person::before {
    content:'4';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-slip::before {
    content:'5';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-box::before {
    content:'6';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-question-group::before {
    content:'7';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-list-form::before {
    content:'8';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-balloon-question::before {
    content:'9';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-sucess::before {
    content:'/';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-graduation-cap::before {
    content:'!';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-bus2::before {
    content:'"';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-copy::before {
    content:'#';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-sp::before{
    content: '.';
    font-family: 'icone-tag', sans-serif
}
.t-icon-integration::before{
    content: '`';
    font-family: 'icone-tag', sans-serif
}
.t-icon-add-group::before{
    content: '-';
    font-family: 'icone-tag', sans-serif
}
.t-icon-room-service::before{
    content: '&';
    font-family: 'icone-tag', sans-serif
}
.t-icon-circle-three-quarters::before{
    content: '[';
    font-family: 'icone-tag', sans-serif
}
.t-icon-Generate-RA::before{
    content: ':';
    font-family: 'icone-tag', sans-serif
}
.t-icon-graduation-cap::before{
    content: ';';
    font-family: 'icone-tag', sans-serif
}
.t-icon-handshake::before{
    content: '<';
    font-family: 'icone-tag', sans-serif
}
.t-icon-weather-report::before{
    content: '>';
    font-family: 'icone-tag', sans-serif
}
.t-icon-percentage::before{
    content: '=';
    font-family: 'icone-tag', sans-serif
}
.t-icon-identity::before{
    content: '?';
    font-family: 'icone-tag', sans-serif
}
.t-icon-e-learning::before{
    content: '@';
    font-family: 'icone-tag', sans-serif
}
.t-icon-arrow-az::before{
    content: '*';
    font-family: 'icone-tag', sans-serif
}
.t-icon-wheelchair::before{
    content: '+';
    font-family: 'icone-tag', sans-serif
}

.t-icon-teachers-students::before{
    content: '(';
    font-family: 'icone-tag', sans-serif
}
.t-icon-bullseye-arrow::before{
    content: ')';
    font-family: 'icone-tag', sans-serif
}
.t-icon-backpack::before{
    content: ',';
    font-family: 'icone-tag', sans-serif
}
.t-icon-heart::before{
    content: "'";
    font-family: 'icone-tag', sans-serif
}
.t-icon-update::before{
    content: '$';
    font-family: 'icone-tag', sans-serif
}
.t-icon-no-teacher::before{
    content: '%';
    font-family: 'icone-tag', sans-serif
}
.t-student-monitoring::before{
    content: '~';
    font-family: 'icone-tag', sans-serif
}

.t-parents-children::before{
    content: '^';
    font-family: 'icone-tag', sans-serif 
}
.t-monitoring_report::before{
    content: '{';
    font-family: 'icone-tag', sans-serif 
}
.t-info_positive::before{
    content: '}';
    font-family: 'icone-tag', sans-serif 
}
.t-medical::before{
    content: 'É';
        font-family: 'icone-tag', sans-serif 
}
.t-hospital-user::before{
    content: '·';
        font-family: 'icone-tag', sans-serif 
}
.t-doctor::before{
    content: '_';
    font-family: 'icone-tag', sans-serif  
}
.t-classdiary::before{
    content: 'Ú';
    font-family: 'icone-tag', sans-serif  
}
.t-school-transfer::before{
    content: 'ó';
    font-family: 'icone-tag', sans-serif   
}
.t-class-transfer::before{
    content: 'Í';
    font-family: 'icone-tag', sans-serif   
}
.t-transfer-all-school::before{
    content: 'Ê';
    font-family: 'icone-tag', sans-serif   
}
.t-stage-teachers::before{
    content: 'ñ';
    font-family: 'icone-tag', sans-serif   
}
.t-school-teacher::before{
    content: 'í';
    font-family: 'icone-tag', sans-serif   
}
.t-class-diary::before{
    content: 'Ú';
    font-family: 'icone-tag', sans-serif   
}
.t-icon-start::before{
    content: 'ô';
    font-family: 'icone-tag', sans-serif   
}



