.t-icon-trash::before {
    content: 'A';
    font-family: 'icone-tag', sans-serif;

}
.t-icon-less_stock::before {
    content: 'a';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-bar_graph::before {
    content: 'B';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-more_stock::before {
    content: 'b';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-people::before {
    content: 'C';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-person_add::before {
    content: 'c';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-bus::before {
    content: 'D';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-person_remove::before {
    content: 'd';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-apple::before {
    content: 'E';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-down_arrow::before {
    content: 'e';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-pencil::before {
    content: 'F';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-hamburger_button::before {
    content: 'f';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-column_graphi::before {
    content: 'G';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-close::before {
    content: 'g';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-calendar::before {
    content: 'H';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-search_icon::before {
    content: 'h';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-settings::before {
    content: 'I';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-filter::before {
    content: 'i';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-educacenso::before {
    content: 'J';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-right_arrow::before {
    content: 'j';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-help::before {
    content: 'K';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-left_arrow::before {
    content: 'k';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-home::before {
    content: 'L';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-down_arrow::before {
    content: 'l';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-book::before {
    content: 'M';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-up_arrow::before {
    content: 'm';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-exit::before {
    content: 'N';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-slider::before {
    content: 'n';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-blackboard::before {
    content: 'O';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-bin::before {
    content: 'o';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-finger_print::before {
    content: 'P';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-success::before {
    content: 'p';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-school::before {
    content: 'Q';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-info::before {
    content: 'q';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-line_graph::before {
    content: 'R';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-eye::before {
    content: 'r';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-schedule::before {
    content: 'S';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-eye_hash::before {
    content: 's';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-diary::before {
    content: 'T';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-lock::before {
    content: 't';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-topics::before {
    content: 'U';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-duplicate::before {
    content: 'u';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-checklist::before {
    content: 'V';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-photos::before {
    content: 'v';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-edition::before {
    content: 'W';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-camera::before {
    content: 'w';
    font-family: 'icone-tag', sans-serif;
}

.t-icon-bar_graph::before {
    content: 'Y';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-printer::before {
    content: 'y';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-restaurant::before {
    content: 'Z';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-play::before {
    content: 'z';
    font-family: 'icone-tag', sans-serif;
}
<<<<<<< HEAD
=======
.t-icon-to-go-back::before {
    content:'0';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-attendance-note::before {
    content:'1';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-group-people::before {
    content:'2';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-person::before {
    content:'4';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-slip::before {
    content:'5';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-box::before {
    content:'6';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-question-group::before {
    content:'7';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-list-form::before {
    content:'8';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-balloon-question::before {
    content:'9';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-sucess::before {
    content:'/';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-graduation-cap::before {
    content:'!';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-bus2::before {
    content:'"';
    font-family: 'icone-tag', sans-serif;
}
.t-icon-copy::before {
    content:'#';
    font-family: 'icone-tag', sans-serif;
}
//<span class="t-icon-graduation-cap"></span>
>>>>>>> d4c8487098dd8fe00dbd2ed32a571722ed607430
