.t-modal-container {
    padding: $SizeXLarge;
    .t-modal-content {
        color: #252A31;
        .t-modal__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .close {
                opacity: 1;
            }
        }
        .t-modal__body {
            label {
                font-size: $FontSizeTextNormal;
            }
        }
        .t-modal__footer {
            a, button {
                flex: 1;
                padding: $spaceNormal;
            }
        }
    }
    
}