.t-search {
    margin-bottom: $SizeNormal;
    position: relative;
    &-input {
        width: 100%;
        margin: 0 !important;
    }
    &-icon {
        position: absolute;
        color: $colorsBaseInkLighter;
        top: 50%;
        transform: translateY(-50%);
        right: $SizeXXXSmall;
    }
}