.tag-table {
    td {
        background: $colorsBaseWhiteNormal;
        padding: $spaceMedium;

        a {
            color: $colorsBaseProductNormalActive;
        }
    }

    thead {
        tr th {
            font-weight: 500;
            color: $colorsBaseWhiteNormal;
            background-color: $colorsBaseProductDarkActive;
            padding: $spaceMedium;
            line-height: normal;
            &:first-child {
                border-radius: $borderRadiusNormal 0 0 $borderRadiusNormal;
            }

            &:last-child  {
                 border-radius: 0 $borderRadiusNormal $borderRadiusNormal 0;
            }
        }
    
    }

    tbody {
        tr {
            border-bottom: 2.5px solid white;
        }

        td {
            font-family: 'Inter', sans-serif;
            font-size: $FontSizeTextNormal;
            padding: 4px 4px 4px 12px;

            &:first-child {
                border-radius: 4px 0 0 4px;
            }

            &:last-child {
                border-radius: 0 4px 4px 0;
            }
        }
    }

}

.dt-body-nowrap {
    white-space: nowrap;
}