.tag-table {    
    td {
        background: $colorsBaseWhiteNormal;
        padding: $spaceMedium;

        a {
            color: $colorsBaseProductNormalActive;
        }
    }

    thead {
        tr th {
            font-weight: 500;
            color: $colorsBaseWhiteNormal;
            background-color: $colorsBaseProductDarkActive;
            padding: $spaceMedium;
            line-height: normal;

            &:first-child {
                border-radius: $borderRadiusLeft;
            }

            &:last-child {
                border-radius: $borderRadiusRight;
            }
        }

    }

    tbody {

        --dt-row-selected: $colorsBaseProductLightActive;
        --dt-row-selected-text: var(--dt-row-selected)
        --dt-row-selected-link: var(--dt-row-selected)
        .selected {
            background-color: $colorsBaseProductLightActive;
        }
        tr {
            border-bottom: 2.5px solid white;
        }

        td {
            font-family: $FontFamilyTextNormal;
            font-size: $FontSizeTextNormal;
            padding: 4px;

            &:first-child {
                border-radius: $borderRadiusLeft;
            }

            &:last-child {
                border-radius: $borderRadiusRight;
            }
        }
    }

}


.grid-view {
    .summary {
        display: none;
    }

    .dataTables_filter {
        margin: 10px;

        input[type="search"] {
            margin-bottom: 0;
            margin-left: $spaceMedium;
        }
    }

    .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: .5em 1em;
        margin-left: 2px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        color: inherit !important;
        border: 1px solid transparent;
        border-radius: 2px;
        background: transparent;
    }
}


.dt-body-nowrap {
    white-space: nowrap;
}