@import '_tokens.scss';
@import '_functions.scss';

.t-tabs {
    
    display: flex;
    list-style: none;
    margin: $spaceEmpty $spaceEmpty $spaceEmpty $spaceEmpty;
    padding: $spaceEmpty $spaceEmpty $spaceEmpty $spaceEmpty;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    

    @include device(tablet) {
    
        padding: $spaceSmall $spaceMedium $spaceSmall $spaceMedium;
        margin: $spaceEmpty $spaceMedium $spaceEmpty $spaceEmpty;
       /*  display: inline-block; */
        overflow-x: hidden;
    }
    @include device(desktop) {
        padding: $spaceXXSmall;
        margin: $spaceEmpty $spaceMedium $spaceEmpty $spaceEmpty;
       /*  display: inline-block; */
        overflow-x: hidden;
    }

    .t-tabs__list {
        display: flex;
        list-style: none;
        padding: $spaceEmpty;
        margin: $spaceEmpty ;
        
        .t-tabs__item {
            display: inline-flex;
            white-space: nowrap;
            padding: $spaceEmpty;
            margin: $spaceEmpty;
            text-align: center;
            

            &.active {
                font-weight: $fontWeightBold;
                text-decoration: none;
                .t-tabs__link {
                    display: flex;
                    align-items: center;
                    color: $colorsBaseProductNormalHover;
                    .t-tabs__numeration {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: $SizeXSmall;
                        width: $SizeLarge;
                        height: $SizeLarge;
                        border-radius: 100%;
                        background-color: $colorsBaseProductNormalHover;
                        color: $colorsBaseWhiteNormal;
                    }
                }
            }

            a {
                text-decoration: none;
            }
            
            .t-tabs__link {
                font-size: $FontSizeTextNormal;
                height: auto;
                color: $colorsBaseInkLightHover;
                padding: $spaceNormal;
                display: flex;
                align-items: center;

                @include device(tablet) {
                    padding: $spaceXXXSmall $spaceMedium $spaceXXXSmall $spaceMedium;
            
                }
                @include device(desktop) {
                    padding: $spaceXXSmall $spaceMedium $spaceXXSmall $spaceMedium;
                    
                }
                .t-tabs__numeration {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: $SizeXSmall;
                    width: $SizeLarge;
                    height: $SizeLarge;
                    border-radius: 100%;
                    background-color: $colorsBaseCloudLightActive;
                    color: $colorsBaseInkLight;
                }
            }

           
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}
