.tag-table {    
    border-collapse: initial;
    margin-top: $SizeMedium;
    td {
        background: $colorsBaseWhiteNormal;
        padding: $spaceMedium;

        .t-icon {
            color: $colorsBaseInkLight;
            font-size: $SizeMedium;
            cursor: pointer;
            margin-right: $SizeNormal;
        }

    }

    thead {
        tr th {
            &:first-child {
                border-radius: $borderRadiusLeft;
            }

            &:last-child {
                border-radius: $borderRadiusRight;
            }
        }

    }

    tbody {

        --dt-row-selected: $colorsBaseProductLightActive;
        --dt-row-selected-text: var(--dt-row-selected);
        --dt-row-selected-link: var(--dt-row-selected);
        
        .selected {
            background-color: $colorsBaseProductLightActive;
        }
        tr {
            border-bottom: 2.5px solid white;
        }

        td {
            font-family: $FontFamilyTextNormal;
            font-size: $FontSizeTextNormal;
            padding: 4px;

            &:first-child {
                border-radius: $borderRadiusLeft;
            }

            &:last-child {
                border-radius: $borderRadiusRight;
            }
        }
    }

}

.tag-table-primary {
    @extend .tag-table;

    thead {
        tr th {
            font-weight: 500;
            color: $colorsBaseWhiteNormal;
            background-color: $colorsBaseProductDarkActive;
            padding: $SizeXSmall;
            line-height: normal;
        }
    }
    td {
        
        a {
            color: $colorsBaseProductNormalActive;
        }
    }
}

.tag-table-secondary {
    @extend .tag-table;
    border-collapse: collapse;
    thead {
        tr th {
            font-weight: bold;
            color: $colorsBaseInkLight;
            background-color: $colorsBaseCloudDark;
            padding: $SizeXSmall;
            line-height: normal;
        }
    }
    tbody {
        tr {
            border-radius: none;
            border-bottom: $borderWidthCard solid $colorsBaseCloudDark;
        }
    }
}

.grid-view {
    padding-top: $spaceNormal;
    .summary {
        display: none;
    }

    .dataTables_filter {
        margin: 10px;

        input[type="search"] {
            margin-bottom: 0;
            margin-left: $spaceMedium;
        }
    }

    .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: .5em 1em;
        margin-left: 2px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 2px;
        background: transparent;
    }
}


.dt-body-nowrap {
    white-space: nowrap;
}