@import '_tokens.scss';
@import '_functions.scss';

.t-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $FontSizeHeadingTitle4;
    padding: $SizeXXXSmall $SizeXSmall;
    border-radius: $borderRadiusLarge;
    width: fit-content;
    margin: 0 $SizeXXXSmall;

    &-primary {
        @extend .t-tag;
        color: $colorsBaseProductLogo;
        background-color: $colorsBaseProductLightActive;
    }

    &-secundary {
        @extend .t-tag;
        color: $colorsAlertInfoText;
        background-color: $colorsAlertInfoBackground;
    }

    &-success {
        @extend .t-tag;
        color: $colorsAlertSuccessBackground;
        background-color: $colorsAlertSuccessText;
    }
}
