h1 {
    font-size: $FontSizeHeadingTitle1;
}

h2 {
    font-size: $FontSizeHeadingTitle2;
}

h3 {
    color: $colorsBaseInkLighterActive;
    font-size: $FontSizeHeadingTitle3;
}

h4 {
    font-size: $FontSizeHeadingTitle4;
}