.reports{
    display: flex;
    flex-wrap: wrap;
    .reports_cards{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        display: flex;
        white-space: nowrap;

        .img_cards{
            margin: 0px 15px 0px 0px; 
        }
    }
}
    

