.reports{
    display: flex;
    flex-wrap: wrap;
    .reports_cards{
        margin: $spaceEmpty $spaceEmpty $spaceEmpty $spaceEmpty;
        padding: $spaceEmpty $spaceEmpty $spaceEmpty $spaceEmpty;
        display: flex;
        white-space: nowrap;

        .img_cards{
            margin: $spaceEmpty $spaceSmall $spaceEmpty $spaceEmpty; 
        }
    }
}
    

