.fact-card{
    background-color: #FFF;
}

.fact-card:not(:last-child){
    margin-right: 25px;
}

.fact-card-title{
    font-size: 14px;
    color:#888888;
    margin: unset;
}

.fact-card-subtitle{
    display: block;
    font-size: 12px;
    font-weight: bold;
    color:#8dc4ee;
    margin-top: -2px;
}

.text-ellipsis{
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursor-pointer{
    cursor: pointer;
}

.fact-label{
    font-size: 20px;
    color: #74777b;
    margin-bottom: unset;
}

.fact-container-select{
    padding: 30px;
    border-radius: 10px;
}

.fact-editor{
    height: 300px;
}